<div id="mainWrapper">
  <div>
    <nav>
      <button (click)="goNext()">Next</button>
      <button (click)="goBack()">Previous</button>
      <button (click)="goRandom()">Random</button>
    </nav>
  </div>

  <div id="inputWrapper">
    <input
      type="text"
      id="TopInput"
      placeholder="Top Input"
      [formControl]="upperInput"
    />
    <input
      type="text"
      id="BottomInput"
      placeholder="Bottom Input"
      [formControl]="lowerInput"
    />

    <div id="textColor">
      <input
        id="colorPicker"
        type="color"
        value="#FFFFFF"
        [formControl]="colorInput"
      />
    </div>
  </div>

  <input
    type="file"
    id="input"
    multiple
    [formControl]="fileInput"
    (change)="onFileSelected($event)"
  />

  <div id="imageWrapper">
    <img [src]="centralPicture" />

    <div id="UpperInput" [style.color]="colorInput.value">
      {{ upperInput.value }}
    </div>
    <div id="LowerInput" [style.color]="colorInput.value">
      {{ lowerInput.value }}
    </div>
  </div>
</div>
