<div id="mainWrapper">
  <div>
    <nav>
      <button (click)="goBack()">Previous</button>
      <button (click)="goNext()">Next</button>
      <button (click)="goRandom()">Random</button>
      <button (click)="generate(centralImageDom)">Generate</button>
      <!-- <button (click)="reset(); upperInput.reset(); lowerInput.reset()"> -->
      <!-- Reset
      </button> -->
    </nav>
  </div>

  <!--Upper Input Wrapper-->

  <app-input (meme)="setInputText($event)"></app-input>
  <app-input></app-input>

  <!-- <div id="inputWrapper">
    <input
      type="text"
      id="TopInput"
      placeholder="Top Input"
      [formControl]="upperInput"
    />

    <div id="textColor">
      <input
        id="colorPicker"
        type="color"
        value="#FFFFFF"
        [formControl]="upperColorInput"
      />
    </div>
    <button (click)="increaseTextUpperSize()">+</button>
    <button (click)="decreaseTextUpperSize()">-</button>
  </div> -->

  <!--Lower Input Wrapper-->

  <!-- <div id="inputWrapper">
    <input
      type="text"
      id="BottomInput"
      placeholder="Bottom Input"
      [formControl]="lowerInput"
    />

    <div id="textColor">
      <input
        id="colorPicker"
        type="color"
        value="#FFFFFF"
        [formControl]="lowerColorInput"
      />
    </div>
    <button (click)="increaseTextLowerSize()">+</button>
    <button (click)="decreaseTextLowerSize()">-</button>
  </div> -->

  <input
    type="file"
    id="input"
    multiple
    [formControl]="fileInput"
    (change)="onFileSelected($event)"
  />

  <div #centralImageDom id="imageWrapper">
    <img [src]="centralPicture" />

    <div
      id="UpperInput"
      [style.color]="upperColorInput.value"
      [style.font-size.px]="fontSizeUpper"
      cdkDrag
    >
      {{ upperInput }}
    </div>
    <!-- <div
      id="LowerInput"
      [style.color]="lowerColorInput.value"
      [style.font-size.px]="fontSizeLower"
      cdkDrag
    >
      {{ lowerInput.value }}
    </div> -->
  </div>

  <div *ngIf="generatedImage">
    <img src="{{ generatedImage }}" />
  </div>
</div>
