<div id="mainWrapper">
  <!--Buttons Component-->
  <app-buttons
    (back)="goBack()"
    (next)="goNext()"
    (random)="goRandom()"
    (generate)="generate(centralImageDom)"
    (reset)="reset()"
  ></app-buttons>

  <!--First Input Component-->
  <app-input
    (meme)="setUpperTextBox($event)"
    (color)="setUpperTextBoxColor($event)"
    (sizeIncrease)="increaseTextBoxUpper()"
    (sizeDecrease)="decreaseTextBoxUpper()"
  ></app-input>

  <!--Second Input Component-->
  <app-input
    (meme)="setLowerTextBox($event)"
    (color)="setLowerTextBoxColor($event)"
    (sizeIncrease)="increaseTextBoxLower()"
    (sizeDecrease)="decreaseTextBoxLower()"
  ></app-input>

  <!--File Input Element-->
  <input
    type="file"
    id="input"
    multiple
    [formControl]="fileInput"
    (change)="onFileSelected($event)"
  />

  <!--I need to create a new Component that holds the Image-->

  <div #centralImageDom id="imageWrapper">
    <!--Image Element-->
    <img [src]="centralPicture" />

    <!--UpperTextBox-->
    <div
      id="UpperInput"
      [style.color]="upperTextBoxColor"
      [style.font-size.px]="fontSizeUpper"
      cdkDrag
    >
      {{ upperTextBox }}
    </div>

    <!--LowerTextBox-->
    <div
      id="LowerInput"
      [style.color]="lowerTextBoxColor"
      [style.font-size.px]="fontSizeLower"
      cdkDrag
    >
      {{ lowerTextBox }}
    </div>
  </div>

  <!--Generated Image-->
  <div *ngIf="generatedImage">
    <img src="{{ generatedImage }}" />
  </div>
</div>
