<div id="mainWrapper">
  <!--Buttons Component-->
  <app-buttons
    (back)="goBack()"
    (next)="goNext()"
    (random)="goRandom()"
    (generate)="generate(centralImageDom)"
    (reset)="reset()"
  ></app-buttons>

  <!--First Input Component-->
  <app-input
    (meme)="setUpperTextBox($event)"
    (color)="setUpperTextBoxColor($event)"
    (sizeIncrease)="increaseTextBoxUpper()"
    (sizeDecrease)="decreaseTextBoxUpper()"
  ></app-input>

  <!--Second Input Component-->
  <app-input
    (meme)="setLowerTextBox($event)"
    (color)="setLowerTextBoxColor($event)"
    (sizeIncrease)="increaseTextBoxLower()"
    (sizeDecrease)="decreaseTextBoxLower()"
  ></app-input>

  <!--File Input Element-->
  <input
    type="file"
    id="input"
    multiple
    [formControl]="fileInput"
    (change)="onFileSelected($event)"
  />

  <!--Image Holder Component-->
  <div #centralImageDom id="imageWrapper">
    <app-image-holder
      [picture]="centralPicture"
      [upperTextBox]="upperTextBox"
      [lowerTextBox]="lowerTextBox"
      [upperTextBoxColor]="upperTextBoxColor"
      [lowerTextBoxColor]="lowerTextBoxColor"
      [fontSizeUpper]="fontSizeUpper"
      [fontSizeLower]="fontSizeLower"
    ></app-image-holder>
  </div>

  <!--Generated Image-->
  <div *ngIf="generatedImage">
    <img src="{{ generatedImage }}" />
  </div>
</div>
